PORT="" # 8080
DATABASE_URL="your database url"
FRONTEND_PORT="" # 5173


PORT=8080
DATABASE_URL=postgresql://postgres:cogs_sarhyd@cogs-dp-staging.cdqi4y84otcy.ap-south-2.rds.amazonaws.com:5432/cogs-app-stg?sslmode=require
FRONTEND_PORT=5173
BASE_PATH=/
NODE_ENV=staging
LOG_LEVEL=info
PUBLIC_OBJECT_SEARCH_PATHS=
PRIVATE_OBJECT_DIR=
NODE_TLS_REJECT_UNAUTHORIZED=0